PresentationWPF/Connected Services/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmployee" type="xs:int" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
</xs:schema>